body {
  font-family: sans-serif;
}

.fake-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.add-user-form {
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  border: 1px solid black;
}

.notes-text-box {
  display: flex;
}

.add-park-form {
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  border: 1px solid black;
}

.this-form {
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  border: 2px solid navy;
}
