body {
  font-family: sans-serif;
}

.fake-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.add-user-form {
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  border: 1px solid black;
}

.notes-text-box {
  display: flex;
}

/*.add-park-form {
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  border: 1px solid black;
}*/

.this-form {
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  border: 2px solid navy;
}

.two-columns {
  columns: 2;
}

/*.radio-stuff {
  width: 100%;
  padding: 10px;
  columns: 2;
  margin: 0 auto;
}*/

.park-show-p {
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  color: navy;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.header-p {
  color: navy;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.park-header-style {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

/*.alert {
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 1111;
}

.alert p {
  margin: 0;
}

.alert-error {
  background: lightcoral;
}

.alert-success {
  background: lightgreen;
}

.close {
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
*/








